### Write a program that asks the user to enter a list of integers. Perform the following tasks

In [31]:
# (a) Print the total number of items in the list.
list1=input()
l=list1.split()
len(l)

 5 6 3 4 8 5 6 5 4 9

10

In [32]:
# (b) Print the last item in the list.
print(l[len(l)-1])

9

In [33]:
# (c) Print the list in reverse order.
l[::-1]

['9', '4', '5', '6', '5', '8', '4', '3', '6', '5']

In [34]:
# (d) Print &quot;Yes&quot; if the list contains a 5 and &quot;No&quot; otherwise.
if '5' in l:
    print('Yes')
else:
    print('No')

Yes

In [35]:
# (e) Print the number of fives in the list.
count = 0
for i in l:
    if i == '5':
        count += 1 
print(count)

3

In [36]:
# Remove the first and last items from the list, sort the remaining items, and print the result.
l.pop()
l.pop(0)
l.sort()
l

['3', '4', '4', '5', '5', '6', '6', '8']

In [37]:
# (g) Print how many integers in the list are less than 5.
for i in l:
    if i < '5' :
        print(i)

3
4
4

### 2. Random Number List Analysis

In [22]:
# generates a list of 20 random numbers between 1 and 100.
# (a) Print the list.
import random
list1=[random.randint(1,100) for i in range(20)]
print(list1)

[42, 65, 43, 54, 17, 1, 98, 69, 19, 27, 55, 15, 13, 34, 63, 82, 46, 79, 49, 20]

In [23]:
# (b) Print the average of the elements in the list.
summ=0
count=0
########method 1############
for i in list1:
    summ=summ+i
    count=count+1
print(summ,count)
avg=summ/count
print(avg)
########method2#########
print(sum(list1)/20)

891 20
44.55
44.55

In [25]:
# (c) Print the largest and smallest values in the list.
maxx=list1[0]
minn=list1[0]
for i in list1:
    if i > maxx:
        maxx=i
    if i < minn:
        minn=i
print(f'Maxx Number : {maxx} \nMinn Number : {minn}')

Maxx Number : 98
Minn Number : 1

In [26]:
# (d) Print the second largest and second smallest entries in the list.
minn=float('inf')
sminn=float('inf')
maxx=float('-inf')
smaxx=float('-inf')
for i in list1:
    if i > maxx:
        smaxx=maxx
        maxx=i
    elif i > smaxx:
        smaxx=maxx
    if i < minn:
        sminn=minn
        minn=i
    elif i < sminn and i != minn:
        sminn=i
print(f'Second maxx : {smaxx} \nSecond minn : {sminn}')

Second maxx : 98
Second minn : 13

In [28]:
# (e) Print how many even numbers are in the list.
for i in list1:
    if i % 2 ==0:
        print(f'Even Numbers : {i}')

Even Numbers : 42
Even Numbers : 54
Even Numbers : 98
Even Numbers : 34
Even Numbers : 82
Even Numbers : 46
Even Numbers : 20

### 3. Modify and Transform a Predefined List

In [60]:
# Start with the list [8, 9, 10]. Perform the following tasks:
list1=[8,9,10]
list1

[8, 9, 10]

In [61]:
# (a) Set the second entry (index 1) to 17.
list1.insert(1,17)
list1

[8, 17, 9, 10]

In [62]:
# (b) Add 4, 5, and 6 to the end of the list.
list2=[4,5,6]

list1.extend(list2)
list1

[8, 17, 9, 10, 4, 5, 6]

In [63]:
# # (c) Remove the first entry from the list.
list1.remove(8)
list1

[17, 9, 10, 4, 5, 6]

In [64]:
list1

[17, 9, 10, 4, 5, 6]

In [65]:
# (d) Sort the list.
for i in range(len(list1)):
    for j in range(len(list1)-i-1):
        if list1[j]>list1[j+1]:
            list1[j+1],list1[j]=list1[j],list1[j+1]
list1

[4, 5, 6, 9, 10, 17]

In [66]:
# (e) Double the list.
list2=list1*2
list2

[4, 5, 6, 9, 10, 17, 4, 5, 6, 9, 10, 17]

In [67]:
# (f) Insert 25 at index 3.
list2.insert(3,25)
list2

[4, 5, 6, 25, 9, 10, 17, 4, 5, 6, 9, 10, 17]