# **List comprehension**
- list comprehension is way to write list operation in a single operation

- when we apply for loop and if-else conditional statement then the code compilation become slow.

- which means it take much time

-  in order to avoid time complexity we will use used list comprehension

-  list comprehesion is a single line code

**case:1-only for loop**

In [24]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**syntax**
**list1=[<outputvariable> <for loop>]**

In [30]:
list1=[i for i in range(10)]  # no need of append in this code
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Q1) input=['hyd','bengaluru','pune','mumbai']
#     output=['Hyd','Bengaluru','Pune','Mumbai']

# Q2) input=['hyd','bengaluru','pune','mumbai']
#     output=['HYD','BENGALURU','PUNE','MUMBAI']

In [33]:
input=['hyd','bengaluru','pune','mumbai']
output=[i.capitalize() for i in input]
output

['Hyd', 'Bengaluru', 'Pune', 'Mumbai']

In [34]:
input=['hyd','bengaluru','pune','mumbai']
output=[i.upper() for i in output]
output

['HYD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [54]:
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
output

[0, 10, 20, 30]

In [60]:
input=['hyd','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input]
sum(output)

60

In [62]:
summ =0
for i in range(1,11):
    summ += i
print(summ)

55

# **valrus operator**

In [67]:
[summ:=summ+i for i in range(1,11)]

[166, 168, 171, 175, 180, 186, 193, 201, 210, 220]

In [72]:
[summ=summ+i for i in range(1,11)]
summ =0

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (376996835.py, line 1)

In [76]:
summ = 0
[summ:=summ+i for i in range(1,11)]
summ

55

# Case:2 **for loop and if condition**

In [78]:
# only even number 
numm = 10
even_list = []
for i in range(10):
    if i%2==0:
        even_list.append(i)
even_list

[0, 2, 4, 6, 8]

In [83]:
# [i if i%2==0 for i in range(10)]

In [85]:
[f'even {i}' for i in range(1,10) if i %2 ==0]

['even 2', 'even 4', 'even 6', 'even 8']

In [ ]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']

# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]

In [92]:
list1=['hyd','ben#galuru','pune','mu#mbai']
out=[ i for i in list1 if '#' in i]
out

['ben#galuru', 'mu#mbai']

In [93]:
list1=['hyd','ben#galuru','pune','mu#mbai']
out=[ i for i in list1 if '#' not in i]
out

['hyd', 'pune']

In [94]:
input=['hyd','ben#galuru','pune','mu#mbai']
output=[i for i in input if '#' in i]
output

['ben#galuru', 'mu#mbai']

In [95]:
input=['hyd','ben#galuru','pune','mu#mbai']
[i for i in input if '#' not in i]

['hyd', 'pune']

**case:3 for loop if-else**

In [ ]:
case-1:for loop  < output><for loop>

case-2:for loop and if : [<output> <for loop> <if condition> ]

case:3: for loop and if else :[<if out> <if condition> else <else out> <for loop>]

In [3]:
list3=[]
for i in range(1,10):
    if i%2==0:
        list3.append(f'even {i}')
    else:
        list3.append(f'odd {i}')
list3

['odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [5]:
[f'even : {i}' if i%2==0 else f'odd {i}' for i in range(10)]

['even : 0',
 'odd 1',
 'even : 2',
 'odd 3',
 'even : 4',
 'odd 5',
 'even : 6',
 'odd 7',
 'even : 8',
 'odd 9']

**case:4:for loop , if elif else**

- in list comprehension we dont have **elif** representaion

- elif also represent as else+if

- in elif we have elif condition and elif output

- else elif output and then elif condition

In [ ]:
case-1:for loop  < output><for loop>

case-2:for loop and if : [<output> <for loop> <if condition> ]

case:3: for loop and if else :[<if out> **<if condition> else <else out>** <for loop>]

case:4:for if elif else :[<if out> <if condn> **else <if out> <if condn>** else <else out> <for loop> ]

**mote** instead of elif term write if

In [9]:
# 85 A grade 
# 60-85 B grade
# less than 60 C grade
list1=[45,55,75,85,95]
for i in list1:
    if i > 85:
        print(f'{i} A Grade')
    elif i>60:
        print(f'{i} B Grade')
    else:
        print(f'{i} B Grade')

45 B Grade
55 B Grade
75 B Grade
85 B Grade
95 A Grade

In [11]:
[f'{i} A Grade' if i > 85 else f'{i} B Grade' if i>60 else f'{i} c Grade' for i in list1]

['45 B Grade', '55 B Grade', '75 B Grade', '85 B Grade', '95 A Grade']

In [16]:
summ = 0
[summ := summ +i for i in range(1,11)]
summ

55