## conditon statement
- condition statement are used to execute the code based in some condition
- assume that
    -if rain comes i will stay at hostel
    - if rains comes i will stay at hotel otherwise i will go to pay cricket
    - if rains come i ll stay at hostel otherwise i will go to ground but if omkar sir call i will go to naresh IT

- if rains comes i will stay at hotel else i will go to pay cricket
- if
- if - else
- if - elif - else

**case-1**

**if <condition>:**
    # write your code here

# whenever condition is true
# then python will go inside the if area then lines will be executes

In [1]:
num=10 #assignment
num==100 # condition
print(num==100) #f
print(num==10) # true
print(num>10) #f
print(num<10) #f
print(num>=10) #t
print(num<=10)#ft

False
True
False
False
True
True

In [2]:
if 100>10:
    print("hello")

hello

**mistake-1**

**indentation error**

- whenever a line start with keyword at least : will be there
- whenever : there then we have indentation

In [3]:
if 100>10:
    print("hello")

hello

**mistake-2**

In [ ]:
if 100>10 # forget to give
    print("hello")

In [5]:
if 100<10: # false
    print("hello")
#no error and no output

In [6]:
if True:
    print("hello")

hello

In [8]:
if False:
    print("hello")
#no error and no output

In [10]:
if bool(100): # Also a True statement 
    print("hello")

hello

In [11]:
if 100>10:
    print("hello")
    print("Haiii")

hello
Haiii

In [13]:
if 100>10:
    print('hello')
    print('haiii')
print('byee')

hello
haiii
byee

In [15]:
if 100>10:
    print('hello')
    print("im with condition Bye")
print("im without condition Bye")

hello
im with condition Bye
im without condition Bye

In [3]:
print(1)
print(2)
if 100<10:
    print('hello')
    print('hai')
    print('im with condition bye')
##########################
print('im with out condition bye')

1
2
im with out condition bye

In [7]:
if True
    print("Hello")

SyntaxError: expected ':' (1694349398.py, line 1)

In [8]:
print("Age: " + 25)

TypeError: can only concatenate str (not "int") to str

In [9]:
int_variable = "10"
print(int_variable + 5)

TypeError: can only concatenate str (not "int") to str

In [10]:
x = int("5.5")

ValueError: invalid literal for int() with base 10: '5.5'

In [12]:
x = 10
if x > 5:
    print("x is greater than 5")
    if x < 15:
        print("x is less than 15")
    else:
print("x is 15 or greater")

IndentationError: expected an indented block after 'else' statement on line 6 (505800563.py, line 7)

In [13]:
x = 8
if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

In [14]:
x = eval("2 + 3")
print(x)

5

In [17]:
x = input("Enter a number: ")
if x > 5:
    print("Greater than 5")
else:
    print("Not greater than 5")

Enter a number:  3

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
x = eval("2 * 3 + 4")
print(x)

10

In [20]:
x = int(input("Enter a number: "))
if x % 3 == 0 and x % 2 != 0:
    print("Divisible by 3 and Odd")
else:
    print("Does not meet criteria")

Enter a number:  9

Divisible by 3 and Odd

In [21]:
if 100<200:
    print('200 is greater':)
print('Hello')
else:
    print('100 is greater')

SyntaxError: invalid syntax (263540645.py, line 2)

In [22]:
a=10
b=70
def sub(a,b):
    a=20
    b=30
    print(a+b)
print(sub(100,200))

50
None

In [23]:
print("Hello", sep=" ")
print("World!")

Hello
World!

In [26]:
x = 20
if x > 10:
    if x % 2 == 0:
        print("Even and greater than 10")
    else:
        print("Odd and greater than 10")
else:
    print("10 or less")

Even and greater than 10