In [3]:
names=['ramesh','suresh','satish']
age=[20,25,30]
print(f'{names[0]} age is {age[0]}')
print(f'{names[1]} age is {age[1]}')
print(f'{names[2]} age is {age[2]}')

ramesh age is 20
suresh age is 25
satish age is 30

In [6]:
for i in range(3):
    print(f'{names[i]} age is {age[i]}')

ramesh age is 20
suresh age is 25
satish age is 30

**Zip**

In [10]:
names=['ramesh','suresh','satish']
age=[20,25,30]
for i in zip(names,age):
    print(i)

('ramesh', 20)
('suresh', 25)
('satish', 30)

In [12]:
names=['ramesh','suresh','satish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i)

('ramesh', 20)
('suresh', 25)
('satish', 30)

In [14]:
names=['ramesh','suresh','satish']
age=[20,25,30]
for i,j in zip(names,age):  # names and age is zipped
    print(i,j)

ramesh 20
suresh 25
satish 30

## **dictionaries**

- in above example names and age both are together 

- when both are together we can pair them

- this can happen using dictionary

- dictionary is called **key-value** pair 

- it represent with curly braces:**{key:value}**

- ramesh and 20 year both are pair : **{'ramesh':20}**

In [17]:
d1={'ramesh':20,'suresh':25,'satish':30}
d1

{'ramesh': 20, 'suresh': 25, 'satish': 30}

In [20]:
d1={20:'ramesh','suresh':25,'satish':30}
d1

{20: 'ramesh', 'suresh': 25, 'satish': 30}

In [25]:
d1={'price':50,'suresh':25,'satish':30,20:20}
d1

{'price': 50, 'suresh': 25, 'satish': 30, 20: 20}

In [42]:
d2 = {'ramesh':20,'ramesh':30}
d2  # bothh are same its takes new vale

{'ramesh': 30}

In [27]:
{(20):(50)}

{20: 50}

In [30]:
print({"'aksah':'ballu'"})

{"'aksah':'ballu'"}

In [31]:
{True:False}

{True: False}

In [32]:
{50:52.3}

{50: 52.3}

In [34]:
{[20,50]:[40,60]}

TypeError: unhashable type: 'list'

In [35]:
{():()}

{(): ()}

In [36]:
{'':''}

{'': ''}

In [44]:
{'ramesh':20,'suresh':30,'satish':50}

{'ramesh': 20, 'suresh': 30, 'satish': 50}

- dictionaries does not allow duplicates
- in dictionaries keys pay vital rols 
- keys can not be duplicates but values can be duplicate

In [45]:
{True:True}

{True: True}

- **list as key fails because list as a behavior as a mutable behavior**

- **tupple as key work because tuple has immutable behaviour**

- **in dictionaries key are very very inportant**

- **keys does not change so when we apply list is failin**

In [ ]:
if both keys are same it will takes latest value
dictionary does not allow duplicates

In [3]:
d14 = {'frutes':{'apple':20}}
d14

{'frutes': {'apple': 20}}

In [5]:
d15={{'apple':20}:'fruites'}

TypeError: unhashable type: 'dict'

In [10]:
dict1={'Apple':20,'banana':20,'cherry':50}
dict2={'apple':20,'apple':30}
dict3={20:'Apple',30:'banana',50:'cherry'}

In [11]:
type(dict1)
type(dict2)
type(dict3)

dict

In [14]:
len(dict1)
len(dict2)
len(dict3)

3

In [18]:
print(min(dict1))
print(min(dict2))
print(min(dict3))

Apple
apple
20

In [19]:
print(max(dict1))
print(max(dict2))
print(max(dict3))

cherry
apple
50

In [39]:
print(sorted(dict1))
print(sorted(dict2))
print(sorted(dict3))

['Apple', 'banana', 'cherry']
['apple']
[20, 30, 50]

In [38]:
print(list(reversed(dict1)))
print(list(reversed(dict2)))
print(list(reversed(dict3)))

['cherry', 'banana', 'Apple']
['apple']
[50, 30, 20]

In [37]:
# sum(dict1)
# print(sum(dict2))
sum(dict3)

100

In [50]:
dict1={'Apple':20,'Banana':20,'Cherry':50}
dict2={'Apple':20,'Apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
# 'Apple' in dict1
# 20 in dict1
# 'Apple':20 in dict1

In [51]:
for i in dict1:
    print(i)

Apple
Banana
Cherry

In [59]:
# for i in range(len(dict1)):
#     dict1.index()

In [61]:
l1=[10,20,30]
l1[0]

10

In [63]:
dict1={'Apple':20,'banana':20,'cherry':50}
dict2={'apple':20,'apple':30}
dict3={20:'Apple',30:'banana',50:'cherry'}
dict1[0]

KeyError: 0

**keyError**

**how to extract the values**

- in dictionaries we have a concept key:value pair

- key are very inportant

- in order to get the values we need to take keys help

In [3]:
dict1={'Apple':20,'Banana':20,'Cherry':50}
dict1['Apple']

20

In [69]:
dict1['Banana']

20

In [4]:
dict1['Cherry']

50

In [7]:
for i in dict1:
    print(i) #key
    print('-----------')
    print(dict1[i]) #value

Apple
-----------
20
Banana
-----------
20
Cherry
-----------
50

In [84]:
# names=['ramesh','suresh','satish']
# age=[20,25,30]
names={'ramesh':20,'suresh':25,'satish':30}
for i in names:
    print(f'{i} age is  : {names[i]}')

ramesh age is  : 20
suresh age is  : 25
satish age is  : 30

In [88]:
d={'Fruites':['Apple','banana','cherry']}
d['Fruites'][2]

'cherry'

In [97]:
d={'Fruites':{'Apple':['sweet','sour','green']}}
d['Fruites']['Apple'][2]

'green'

In [102]:
d={'fruites':[{'cost':[50]}]}

In [115]:
d['fruites'][0]['cost'][0]

50

In [122]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}

In [128]:
d['Cost'][0]['1kg'][2]

40

In [138]:
print(f"{d['Cost'][0]['1kg'][2]}")
print(f"none:{d['Cost'][0]['2kg']}")

40
none:None

In [260]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'shambhaji'}}}}}}}
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']
list(d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji'])[0]

'shambhaji'

**how to create an empty dictionary**

- Now onward focus on creation of empty list , string and dictionary

- we will take empty list will use to **append operation**

- we will taek empty string will use **concationation**

- how will take empty dictionary will use **key:value pair concept**

In [187]:
# start your imaginzation make a dictionary with many ways
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d3={'Ramesh':'20','Suresh':'25','Sathish':30}
d4={'20':'Ramesh','25':'Suresh',30:'Sathish'}
d5={'Ramesh':20,'Ramesh':30}
# If both keys are same it will take the latest value
# Dictionarys kind database
d6={'Ramesh':20,'Ramesh':20}
# Dictionarys does not allow duplicates
d7={'Ramesh':20,'Suresh':20}
# In dictionary keys pays vital rols
# keys can not be duplicate but values can be duplicate
d8={20:'Ramesh',20:'Suresh'}
d9={True:'true'}
d10={'fruites':['Apple','Banana']} # list is value
#d11={['Apple','Banana']:'fruites'} # list is key
d12={'fruites':('Apple','Banana')} # list is value
d13={('Apple','Banana'):'fruites'} # list is key
d14={'Fruites':{'Apple':20}}
d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,d12,d13,d14

({'Ramesh': 20, 'Suresh': 25, 'Sathish': 30},
 {20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'},
 {'Ramesh': '20', 'Suresh': '25', 'Sathish': 30},
 {'20': 'Ramesh', '25': 'Suresh', 30: 'Sathish'},
 {'Ramesh': 30},
 {'Ramesh': 20},
 {'Ramesh': 20, 'Suresh': 20},
 {20: 'Suresh'},
 {True: 'true'},
 {'fruites': ['Apple', 'Banana']},
 {'fruites': ('Apple', 'Banana')},
 {('Apple', 'Banana'): 'fruites'},
 {'Fruites': {'Apple': 20}})

In [151]:
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [153]:
# strings
s=''
s=s+'p'
s=s+'y'
s=s+'t'
s=s+'h'
s=s+'o'
s=s+'n'
s

'python'

In [161]:
d={}
d['Ramesh']=20
d['Suresh']=25
d['Satish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [163]:
names={'ramesh','suresh','satish'}
age={20,25,30}
d={}
for i,j in zip(names,age):
    d[i]=j
print(d)

{'ramesh': 25, 'satish': 20, 'suresh': 30}

In [166]:
names={'mayur','omya','raju'}
age={20,25,30}
d={}
for i ,j in zip(names,age):
    d[i]=j
d

{'mayur': 25, 'raju': 20, 'omya': 30}

**dictionary comprehension**

- for list comprehension we written eveything inside list

- for dictionary comprehension we should write everything inside dictionary

- list comprehension: [<output_for loop> <for loop> ]

- dictionary comprehension : {<key:vlaue><for loop>}

In [177]:
names={'mayur','omya','raju'}
age={20,25,30}
d={}
d1={i:j for i , j in zip(names,age)}  # dict comprehension
d1

{'mayur': 25, 'raju': 20, 'omya': 30}

**mutable-immutable**

- lists are mutable

- dictionaries are mutable

- string are immutable

- tuples are immutable

- in dictionaries we can change the values using keys

In [180]:
dict1={'ramesh': 25, 'satish': 20, 'suresh': 30}
dict1['ramesh']=30   # mutable means we can change the values of dictionaries like list 
dict1

{'ramesh': 30, 'satish': 20, 'suresh': 30}

**methods**

In [182]:
# 'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'

In [194]:
d={'banana':30,'apple':30}
d

{'banana': 30, 'apple': 30}

In [201]:
l1=['mayur','chiku','virat']
hobby = ['cricket','football','cricket']
d = {}
for i,j in zip(l1,hobby):
    d[i]=j
d

{'mayur': 'cricket', 'chiku': 'football', 'virat': 'cricket'}

In [210]:
l1=['mayur','chiku','virat']
hobby = ['cricket','football','cricket']
di1={}
di1[l1[0]]=hobby[0]
di1

{'mayur': 'cricket'}

{'mayur': 'cricket', 'chiku': 'football', 'virat': 'cricket'}

In [ ]:
# 'clear',
#  'copy',
#  'fromkeys',
#  'get',
#  'items',
#  'keys',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',
#  'values'

In [238]:
d={'mayur':20, 'chiku': 50, 'virat': 100}
d1=d.copy()
d1.get('virat')
d1.items()

dict_items([('mayur', 20), ('chiku', 50), ('virat', 100)])

In [239]:
d1.keys()

dict_keys(['mayur', 'chiku', 'virat'])

In [245]:
d1

{'mayur': 20, 'chiku': 50}

In [254]:
d={'virat':103,'rohit':105,'gill':87}  # i want this output
dict1={'virat','rohit','gill'}
dict2={103,105,97}
d={}
for i , j in zip(dict1,dict2):
    d[i]=j
print(d)
d={i:j for i,j in zip(dict1,dict2)}
print(d)

{'gill': 105, 'rohit': 97, 'virat': 103}
{'gill': 105, 'rohit': 97, 'virat': 103}

In [3]:
d={'ramesh': 25, 'satish': 20, 'suresh': 30}
keys=d.keys()
type(keys)

dict_keys

In [4]:
type(keys)

dict_keys

In [5]:
keys.count('Ramesh') #dict_keys' object has no attribute 'count'

AttributeError: 'dict_keys' object has no attribute 'count'

**convert dictionary to list**

- in order to convert dictionary to list

- first we need to seperate keys and values

- then apply apply list type casting

In [17]:
d={'ramesh': 20, 'satish': 25, 'suresh': 30}
keys=d.keys()
keys_list=list(keys_list)
keys_list

['ramesh', 'satish', 'suresh']

In [12]:
d={'ramesh': 20, 'satish': 25, 'suresh': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [14]:
d.items()

dict_items([('ramesh', 20), ('satish', 25), ('suresh', 30)])

In [ ]:
1.list === string    #join
2.string === list    #using split
3.list === dict      #zip
4.dict === list      #typecasting

In [18]:
type(keys_list),type(keys)

(list, dict_keys)

In [20]:
keys_list.count('ramesh')

1

In [ ]:
d={'ramesh': 20, 'satish': 25, 'suresh': 30}
keys=d.keys()
keys_list=list(keys_list)
keys_list

In [ ]:
d={'ramesh': 20, 'satish': 25, 'suresh': 30}
values=d.values()
values_list=list(values)
values_list

In [23]:
d.items()

dict_items([('ramesh', 20), ('satish', 25), ('suresh', 30)])

In [22]:
type(keys_list),type(keys)

(list, dict_keys)

In [21]:
keys_list.count('ramesh')

1

In [45]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
list1=input.split(';')
firstname=[]
secondname=[]
cname=[]
dict1={}
for i in list1:
    first_name=i.index('.')
    second_name=i.index('@')
    c_name=i.index('.',first_name+1)
    firstname.append(i[:first_name])
    secondname.append(i[first_name+1:second_name])
    cname.append(i[second_name+1:c_name])
dict1['fname']=firstname
dict1['secondname']=secondname
dict1['cname']=cname
dict1

{'fname': ['virat', 'rohit', 'ms'],
 'secondname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

# list to dictionay

In [46]:
d={}                      
d['fname']=firstname
d['secondname']=secondname
d['company']=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'secondname': ['kohli', 'sharma', 'dhoni'],
 'company': ['rcb', 'mi', 'csk']}

In [57]:
d={'ramesh':20,'suresh':50,'satish':60}
print(d.pop('suresh'))
d

50

{'ramesh': 20, 'satish': 60}

In [59]:
d={'ramesh':20,'suresh':50,'satish':60}
d.popitem()
d

{'ramesh': 20, 'suresh': 50}

In [60]:
l=[20,50,60,40]
l.pop()
l

[20, 50, 60]

In [ ]:
l.remove()

**'pop' in dictionary ,same analogy 'remove' in list**

**popitem in dictionary , similar analogy pop in list**

**get**

In [68]:
d={'ramesh': 20, 'suresh': 50}
d.get('ramesh')      # same thing do with index

20

In [67]:
d['ramesh']     # key as an index

20

**update**

In [76]:
d1={'ramesh': 20, 'suresh': 50}
d2={'satish':30,'saresh':90}
d1.update(d2)
d1

{'ramesh': 20, 'suresh': 50, 'satish': 30, 'saresh': 90}

In [77]:
l1=[50,20,30,60]
l2=['mayur','virat']
l1.extend(l2)
l1

[50, 20, 30, 60, 'mayur', 'virat']

**update** in dictionary is same analogy in **extend** in list

**setdefault**

- suppose a already existed dictionary available

- we can update the dictionary with new key value pair

In [84]:
d1={'ramesh': 20, 'suresh': 50}

d1.setdefault('manish')
d1.setdefault('mahesh',35)
d1

{'ramesh': 20, 'suresh': 50, 'manish': None, 'mahesh': 35}

**setdefault in dictionary** , same analogy **list append**

- always remember dictionary is a **key:value** pair concept

- it never involves index operations

- thats why we dont have any index or find methods

- we have get method to extract the values using key

**fromkeys**

- create a dictionary with different keys but same value

- fromkeys will take an argument **iterable**

- try to provide an interator i.e string ,list,tuple

In [90]:
d1={}
names='python is good'
d1.fromkeys(names,'nareshIt')

{'p': 'nareshIt',
 'y': 'nareshIt',
 't': 'nareshIt',
 'h': 'nareshIt',
 'o': 'nareshIt',
 'n': 'nareshIt',
 ' ': 'nareshIt',
 'i': 'nareshIt',
 's': 'nareshIt',
 'g': 'nareshIt',
 'd': 'nareshIt'}

In [92]:
d={}
d.fromkeys('python','nit')

{'p': 'nit', 'y': 'nit', 't': 'nit', 'h': 'nit', 'o': 'nit', 'n': 'nit'}

-**pop in dictionary** ,same analogy **remove' in list**

- **pop item** in dictionary , similar analogy pop in list

- list has count ,string has count and tuple also count

- but dictionary does not have **count** 

- because dictionary does not allow **duplicate**

- string have find but list does not have