In [1]:
a = 10
b = 20 
a 
b

20

In [2]:
a = 10
b = 20 
print(a)
print(b)

10
20

In [3]:
print(10)
print(20)

10
20

In [4]:
print(10),print(20)

10
20

(None, None)

In [5]:
10,20

(10, 20)

In [6]:
print(a,b)

10 20

In [7]:
print(30,'NareshIT','hyd')
#three values

30 NareshIT hyd

In [9]:
num1 = 1000
num2=200
add = num1 + num2
#addition of 100 and 200 is 300
print("addition of 100 and 200 is 300")
print("addition of 100 and 200 is 300")
print("addition of ",num1 ,"and ",num2 ,"is",add)

addition of 100 and 200 is 300
addition of 100 and 200 is 300
addition of  1000 and  200 is 1200

In [22]:
name = "Python"
age = 10 
city = "hyd"
print("My name is ",name,"I'm ",age,"years old and came from city ",city) 
print("my name is {} im {} years old and came from {}".format(name,age,city))

My name is  Python I'm  10 years old and came from city  hyd
my name is Python im 10 years old and came from hyd

In [23]:
num1 = 100
num2=200
add = num1 + num2
print("The addition of {} and {} is {} ".format(num1,num2,add))

The addition of 1000 and 200 is 1200

In [39]:
#wap take two numbers 
print("===================Addition================")
num1 = 1000
num2=200
add = num1 + num2
#addition of 100 and 200 is 300
print(f"addition of {num1} and {num2} is {add}")
print("==========Substraction============")
num1 = 100
num2 =200
sub = num1 - num2
print("The substraction of {} and {} is {}".format(num1, num2 ,sub))
print("================Multiplication=============")
num1 = 100
num2 =200
mul = num1 * num2 
print("The multiplication of {} and {} is {}".format(num1 ,num2,mul))
print("====================division===============")
num1 = 100
num2 =200
div = num1 / num2
print("The division of {} and {} is {}".format(num1 ,num2,div))
print("================avg==============")
a = 10 
b = 20 
c = 30
avg = (a+b+c)/3
print("The average of a , b ,c ",avg)
print("The average of {} {} {} is {} ".format(a,b,c,avg))

===================Addition================
addition of 1000 and 200 is 1200
==========Substraction============
The substraction of 100 and 200 is -100
================Multiplication=============
The multiplication of 100 and 200 is 20000
====================division===============
The division of 100 and 200 is 0.5
================avg==============
The average of a , b ,c  20.0
The average of 10 20 30 is 20.0

In [34]:
#take three number and perform average 
a = 10 
b = 20 
c = 30
avg = (a+b+c)/3
print("The average of a , b ,c ",avg)
print("The average of {} {} {} is {} ".format(a,b,c,avg))

The average of a , b ,c  20.0
The average of 10 20 30 is 20.0

In [37]:
#f string method  Formating string method 
num1 = 1000
num2=200
add = num1 + num2
#addition of 100 and 200 is 300
print(f"addition of {num1} and {num2} is {add}")

addition of 1000 and 200 is 1200

In [38]:
#wap take two numbers 

print("==========Substraction============")
num1 = 100
num2 =200
sub = num1 - num2
print(f"The substraction of {num1} and {num2} is {sub}")
print("================Multiplication=============")
num1 = 100
num2 =200
mul = num1 * num2 
print(f"The multiplication of {num1} and {num2} is {mul}")
print("====================division===============")
num1 = 100
num2 =200
div = num1 / num2
print(f"The division of {num1} and {num2} is {div}")
print("================avg==============")
a = 10 
b = 20 
c = 30
avg = (a+b+c)/3
print("The average of a , b ,c ",avg)
print("The average of {} {} {} is {} ".format(a,b,c,avg))

==========Addition============
The substraction of 100 and 200 is -100
================Multiplication=============
The multiplication of 100 and 200 is 20000
====================division===============
The division of 100 and 200 is 0.5
================avg==============
The average of a , b ,c  20.0
The average of 10 20 30 is 20.0

In [45]:
a = 11         #ctrl + a And ctrl +/ Comment 
b = 20 
c = 30
avg = (a+b+c)/3
print(avg)

20.333333333333332

In [46]:
print(round(10.77))

11

In [47]:
print(round(10.7777,2))

10.78

In [48]:
print(round(10.777,3))

10.777

In [49]:
print(round(10.7777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [54]:
a = 11         #ctrl + a And ctrl +/ Comment 
b = 20 
c = 30
avg = (a+b+c)/3
print(avg)
print(round(avg))#simple

avg1 = round(avg,2) #break the statement
print(avg1)

20.333333333333332
20
20.33

In [ ]:
#i've multiple print statement but i want to show in one line

#we've to use end operator
print(10,end=" ")
print(20,end="=")
print(30)

In [58]:
print(10 ,end=" ")
print(20)

10 20

In [61]:
print('hello',end=" ")
print('how',end=" ")
print('are',end=" ")
print('you')

hello how are you

In [62]:
# i've multiple values in single statement i want print then some seperation
print(10,20,30)
# 10 ===> 20 ===> 30

10 20 30

In [3]:
#sep 
print(10,20,30,sep='  ')
print(10,end='')
print(20)

10  20  30
1020

In [ ]:
# basic print statemet 
# we learn format method 
# we learn f string method
# we learn round
# we learn end operator
# we learn sep operator

In [ ]:
#wap take a redius of a circle calculate area of circcle 
# var : radius    var:pi = 3.14
#formula = pi * radius * radius
#print the ans using f string and format

#wap take breath and height og a right angle triengle
#calculate area
# var1:breadth var2:height
#formula :0.5 * breadth *height

#wap take the bill amount and tip amount 
# calculate total bill 
# var billamount var2 : tip amount
# formula 

# wap take a length and breadth of a rectangle calculate area
# var length var2 bbreafth 
# formula : length * breadth

#wap take the radidus of a circle calculate area of the circle
# var: radidus var: pi=3.14
# formuale: pi*radius*radius
# print the answers using f string and format

# wap take the breadth and height of a right angle triangle
# calculate the area
# var1: bredath var2: height
# formuale : 0.5*breadth*heigh

# wap take the bill amount and tip amount
# calculate total bill
# var1: bill amount var2: tip amount
# formuale

# wap take the length and breadth of a rectangle calculate area
# var1: length var2: breadth
# formulae: length * breadth

In [1]:
radius = 3 
pi = 3.14159
area = pi * radius * radius 
print(f"radius of circle is {area}")
print("Redius of circle is {}".format(area))

radius of circle is 28.274309999999996
Redius of circle is 28.274309999999996

In [7]:
base = 10 
height = 20 
area_of_triangle = 0.5 * base * height
print(f"area of right angle triange:{area_of_triangle}")
print("area of right angle triange :{}".format(area_of_triangle))

area of right angle triange:100.0
area of right angle triange :100.0

In [10]:
bill_amount = 1000
tip_amount = 100
total_amount = bill_amount+tip_amount
print(f"total bill amount is {total_amount}")
print("total bill amount is {}".format(total_amount))

total bill amount is 1100
total bill amount is 1100

In [17]:
breadth = 5 
height = 6 

area = base * height
print(f"area of rectangle is:{area}")
print("area of rectangle is:{}".format(area))

area of rectangle is:60
area of rectangle is:60

In [7]:
print("=============Redius Of Circle=================== ")
radius = 10 
pi = 3.14159
area = pi * radius * radius 
print(f"radius of circle is {area}")
print("Area of circle is {}".format(area))

print("================Area of Triagle===================")
base = 10 
height = 20 
area_of_triangle = 0.5 * base * height
print(f"area of right angle triange:{area_of_triangle}")
print("area of right angle triange :{}".format(area_of_triangle))

print("================= Total Bill Amount===================")
bill_amount = 1000
tip_amount = 100
total_amount = bill_amount+tip_amount
print(f"total bill amount is {total_amount}")
print("total bill amount is {}".format(total_amount))

print("===================Area of Rectangle==================")

breadth = 5 
height = 6 
area = base * height
print(f"area of rectangle is:{area}")
print("area of rectangle is:{}".format(area))

=============Redius Of Circle=================
radius of circle is 314.159
Redius of circle is 314.159
================Area of Triagle===================
area of right angle triange:100.0
area of right angle triange :100.0
================= Total Bill Amount===================
total bill amount is 1100
total bill amount is 1100
===================Area of Rectangle==================
area of rectangle is:60
area of rectangle is:60

In [21]:
print('2'+2)

TypeError: can only concatenate str (not "int") to str

In [5]:
name=input('enter your name)

SyntaxError: unterminated string literal (detected at line 1) (1679727560.py, line 1)

In [23]:
age

NameError: name 'age' is not defined

In [24]:
a=10/0

ZeroDivisionError: division by zero

In [5]:
user = input("im python , who are you")

im python , who are you 55

**Input**
- in above we provide the value
- input is the inbuilt function
- using input the user can provide any value

In [4]:
input()

 2

'2'

In [4]:
n1 = 20 
n2 = 30 
add = n1 + n2 
print("addtion of ",n1,"and",n2,"is",add) #First way.
print("addtion of {} and {} is {} ".format(n1,n2,n2)) # second way 
print(f"addition of {n1} and {n2} is {add}")

addtion of  20 and 30 is 50
addtion of 20 and 30 is 30
addition of 20 and 30 is 50

In [17]:
print(10,end='  ') # print next line element in same line
print(20)

10  20

In [18]:
print(10,20,30,sep=" ") # seperate the values

10 20 30